.about-container {
  max-width: 40em;
  margin: 3em auto;
  padding: 0 1.5em;
  text-align: center;
}

.about-title {
  font-size: 2rem;
  margin-bottom: 0.75em;
  color: #1f1f1f;
}

.about-text {
  margin-bottom: 1em;
  line-height: 1.6;
  color: #333;
}
